<div class="users-table table-responsive">
  <table class="table table-hover table-condensed table-striped">
    <thead>
      <tr>
        <th></th>
        <th>#</th>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>Sessions</th>
        <th>Last Login</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in vm.users"
          ng-class="{ 'success': vm.activeUser === user._id }">
        <td ng-click="vm.edit(user._id)">
          <span ng-class="{'text-success': vm.activeUser !== user._id}"
                ng-show="{{vm.currentUser === user._id}}">
            <i class="fa fa-circle"></i>
          </span>
        </td>
        <th ng-click="vm.edit(user._id)">{{ $index + 1 }}</th>
        <td ng-click="vm.edit(user._id)">{{ user.username }}</td>
        <td ng-click="vm.edit(user._id)">{{ user.email }}</td>
        <td ng-click="vm.edit(user._id)">{{ user.role }}</td>
        <td ng-click="vm.edit(user._id)">
          <span class="badge">{{ user.sessions }}</span>
        </td>
        <td ng-click="vm.edit(user._id)">{{ user.lastLogin | amCalendar | nullDate: 'Never' }}</td>
        <td>
          <a class="btn btn-info btn-xs"
             ng-click="vm.revoke(user)"
             ng-disabled="user.sessions === 0">
            <i class="fa fa-sign-out fa-fw"></i>
          </a>
          <a class="btn btn-danger btn-xs"
             ng-disabled="vm.currentUser === user._id"
             ng-click="vm.deleteUser(user)">
            <i class="fa fa-trash fa-fw"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>