<li ui-sref-active="active">
  <a data-ui-sref="dashboard" ng-click="$hide();">
    <i class="fa fa-fw fa-tachometer"></i>
    Dashboard
  </a>
</li>
<li ui-sref-active="active">
  <a data-ui-sref="profile" ng-click="$hide();">
    <i class="fa fa-fw fa-user"></i>
    Profile
  </a>
</li>
<li ui-sref-active="active"
    ng-if="vm.isAdmin">
  <a data-ui-sref="system.settings" ng-click="$hide();">
    <i class="fa fa-fw fa-lock"></i>
    System
  </a>
</li>
<li ng-class="{'pull-right': !aside}">
  <a data-ui-sref="logout">
    Logout <i class="fa fa-power-off"></i>
  </a>
</li>