<div class="user-form-buttons">
  <div class="btn btn-action"
       ng-class="{'btn-warning': vm.form.$invalid,
                  'btn-success': vm.form.$valid}"
       ng-disabled="vm.form.$submitted || vm.form.$invalid || vm.form.$pristine"
       ng-click="vm.submit(vm.action)">
    <i class="fa"
       ng-class="{'fa-check': vm.form.$valid && vm.form.$dirty,
                  'fa-times': vm.form.$invalid}"></i>
    {{ vm.form.$invalid ? 'invalid' : vm.action | capitalize }}
  </div>
  <div class="btn btn-default"
       ng-click="vm.callback()">
    {{ vm.action === 'update' ? 'reset' : 'cancel' | capitalize }}
  </div>
</div>